<h1> cat will be here </h1>

<table>
  <th> <%= @cat.name %> </th>
  <tr>
    <td> name: <%= @cat.name %> </td>
  </tr>
  <tr>
    <td> age: <%= @cat.age %> </td>
  </tr>
  <tr>
    <td> color: <%= @cat.color %> </td>
  </tr>
  <tr>
    <td> sex: <%= @cat.sex%> </td>
  </tr>
  <tr>
    <td> description: <%= @cat.description %> </td>
  </tr>
</table>
